@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0066FF;
  --secondary: #91989E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  letter-spacing: 0.5;
}

ol {
  list-style-type: decimal;
  margin-left: 3rem;
}

ol li {
  padding-left: 1rem;
}

ol li::marker {
  color: var(--primary);
  font-weight: bold;
}

.primary-color {
  color: var(--primary);
}

.primary-button {
  background-color: var(--primary);
}

.secondary-color {
  color: var(--secondary);
}

img { 
  width: auto;
  height: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
